body {
	margin:0px auto;
	padding:0px;
	font-size:12px;
	color:#666;
	background-color:#fff;
}

a {
	color:#666;
	text-decoration:none;
}
a:hover {
	text-decoration: none;
	color:#2e94de;
}


#webmap  {width:1003px;}
#webHeader  {width:1003px; height:194px; background:url(../images/picblue.jpg) center top no-repeat;}
#headerTitle  {padding:40px 0px 0px 10px; height:43px; font:Arial, Helvetica, sans-serif; font-size:36px; font-weight:bold; color:#0d64b1;}
#logo img  {margin:10px 10px 0px 0px; border:3px solid #68946f;}

#webMenu  {height:45px; background:url(../images/bluemenu02.gif) center bottom no-repeat;}
#menu  {height:34px; line-height:34px; background:url(../images/bluemenu.gif) center top no-repeat; font-weight:bold; font-size:14px; color:#fff;}
#menu a  {margin:30px 30px; font-weight:bold; color:#fff;}
#menu a:hover  {color:#a2d8f4;}

#webGongqiu  {border:1px solid #2e94de; background-color:#a2d8f4; padding:5px 10px 5px 10px; margin-bottom:15px; line-height:25px;}
#webGongqiu li  {float:left; width:50%;}
#webGongqiu strong  {color:#666;}

#kTitle  {height:25px; line-height:25px; padding-left:27px; font-weight:bold; background:url(../images/bluetitle.gif) left top no-repeat; font-size:14px; color:#fff}
#kTitle a  { color:#fff;}

#kNeirong,#aNeirong  {border:1px solid #2e94de; padding:6px;}
#webFangke  {border:1px solid #2e94de; padding:6px;}

#webUnder  {margin-top:10px; background:url(../images/whiteunderline.gif) center top no-repeat; height:52px; text-align:center; line-height:52px;}

.dTitle  {margin-left:10px; font-size:14px; font-weight:bold; color:#a2d8f4;}
#dBiaoti,#pBiaoti,#aboutBiaoti  {height:25px; background-color:#2e94de; border-left:3px solid #a2d8f4; border-bottom:1px solid #fbffee;}
#dBiaoti a,#dBiaoti span  {margin:0px 7px 0px 7px; color:#a2d8f4;}

#pBiaoti a  {font-size:14px; font-weight:bold; margin-left:10px; color:#a2d8f4;}
#aboutBiaoti a  {margin:0px 10px 0px 10px;}
#aboutzhengwen img  {margin:5px 20px 0px 20px; border:3px solid #e3e3e3;}

#diarypinglun li  {border-top:1px solid #c8c8c8; margin-bottom:10px;}
#diarypinglun li img  {width:42px; height:42px; border:2px solid #e3e3e3; margin:5px;}
.leftpinglun  {display:block; text-align:center; background-color:#f7f7f7; margin-right:3px; width:56px;}
.rightpinglun  {display:block; background-color:#f7f7f7;width:569px; padding:5px;}
.huifu  {background-color:#ddd; width:535px; padding:0px 10px 0px 10px; margin-left:14px;}

#webphotolist li  {border-bottom:1px dashed #ccc; line-height:25px; height:25px; background:url(../images/iconwhite03.gif) left center no-repeat; padding-left:20px;}

.Rf-friend  {border-bottom:1px solid #ccc; line-height:16px; margin-top:10px;}
#kNeirong img  {height:42px; width:42px; border:2px solid #e3e3e3; float:left; margin:0px 10px 10px 0px;}
