<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助中心-11OK搜商网，最大的商人交流平台，最多的信息发布平台，11OK搜商网您的商务洽谈平台！！</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div align="center" id="wrapper">
<div id="webHeader" align="left">
<div id="webLogo">
<div class="logo"><a href="index.html"><img
	src="image/logo.gif" alt="11OK搜商网" border="0" /></a></div>
</div>
<div id="mainNav">
<div id="topTextAd" align="right"><a href="#">设为首页</a>|<a href="#">加入收藏</a>|<a
	href="#">联系我们</a>|<a href="about.html">关于我们</a></div>
<div class="Search_nav"><a class="index" href="index.html"><span>首
页</span></a> <a class="people" href="business.html"><span>商人库</span></a> <a
	class="happy" href="http://www.11ok.net/read/"><span>充电休闲</span></a> <a
	class="bbs" href="http://www.11ok.net/bbs/"><span>论 坛</span></a></div>
</div>
<div class="clr"></div>
<div id="search">
<form id="form1" name="form1" method="post" action=""><span>地区：</span>
<label> <select name="select" class="formcss" id="select">
	<option value="0">不限地区</option>
	<option value="1">湖南</option>
</select> </label> <label> <select name="select2" class="formcss" id="select2">
	<option value="0">不限城市</option>
	<option value="1">邵阳市</option>
</select> </label> <span>行业：</span> <label> <select name="select3"
	class="formcss" id="select3">
	<option value="0">不限行业</option>
	<option value="1">电子产品，网络营销</option>
</select> </label> <span>关键字：</span> <label> <input name="textfield" type="text"
	class="formcss" id="textfield" value="请输入关键字" /> </label> <label> <input
	type="submit" class="buttoncss" name="button"
	onfocus="javascript:blur();" id="button" value="搜商友" /> </label></form>
</div>
</div>
<div class="clr"></div>

<div id="webMain" align="left">
<div id="registerTitle"><img src="image/icon008.gif" align="left"
	height="26" /><span class="fontbiaoti">帮助中心</span><br />
<span class="fontbiaoti02">HELP CENTER</span></div>
<div id="registerMessage01">
<div id="messageTitle" class="biaoti01"><img
	src="image/icon03.gif" align="left" />联系我们<br />
<font>Contact us</font></div>
<div class="clr" style="height: 10px;"></div>
<div id="messageNeirong">
<ul>
	<li>
	<p align="left"><strong>搜商网客户服务电话</strong></p>
	<p align="left">客户服务热线:0739-5636868</p>
	</li>
	<li>
	<p align="left"><strong>搜商网广告友情链接电话</strong></p>
	<p align="left">客户服务热线:0739-5636868</p>
	</li>
</ul>
<div class="clr"></div>
</div>
</div>
</div>

<div class="clr" style="height: 10px"></div>
<div id="webunder" align="left">
<div id="lianjie">
<div id="lianjieTitle"><span>友情链接</span><a href="#">更多>></a></div>
<div class="clr"></div>
<div id="lianjieNeirong"><a href="http://www.yix123.com/"
	target="_blank">易翔商务网</a><a href="http://www.baidu.com/"
	target="_blank">百度首页</a><a href="http://www.ctmo.gov.cn/"
	target="_blank">国家商标局</a><a href="http://www.sipo.gov.cn/"
	target="_blank">国家知识产权局</a><a href="http://www.alibaba.com.cn/"
	target="_blank">阿里巴巴</a><a href="http://www.11ok.net/" target="_blank">中华商人网</a><a
	href="http://www.yix123.com.cn/" target="_blank">易翔商务空间站</a><a
	href="http://www.yix123.cn/" target="_blank">易翔网络部</a><a
	href="http://www.icris.cr.gov.hk/csci/" target="_blank">香港公司查询</a><a
	href="http://www.syhd.gov.cn/" target="_blank">邵阳市工商局</a><a
	href="http://www.hnii.gov.cn/" target="_blank">湖南信息产业厅</a><a
	href="http://www.sina.com.cn/" target="_blank">新浪在线</a><a
	href="http://www.sina.com.cn/" target="_blank">网易在线</a><a
	href="http://www.qq.com/" target="_blank">腾讯在线</a><a
	href="http://www.sy18.com/" target="_blank">邵阳信息网</a><a
	href="http://sy.2118.com.cn/" target="_blank">邵阳信息港</a><a
	href="http://www.hxonl.com/" target="_blank">湖湘网</a><a
	href="http://www.5460.net/" target="_blank">中国同学录</a><a
	href="http://www.hunantv.com/" target="_blank">金鹰网</a><a
	href="http://www.szol.net/" target="_blank">深圳在线</a></div>
<div class="clr"></div>
</div>
<div id="under">
<div id="underFont" align="center"><a href="/index.php?op=Summary"
	target="_blank">首页</a>|<a href="/index.php?op=BlogList" target="_blank">商人库</a>|<a
	href="/read" target="_blank">充电休闲</a>|<a href="/bbs" target="_blank">论坛</a>|<a
	href="http://www.11ok.net/Contact%20.htm#p">关于我们</a>|<a
	href="http://www.11ok.net/Contact%20.htm#p">广告合作</a>|<a href="/stp"
	target="_blank">网站地图</a>|<a href="lianjie.html">友情链接</a>|<a href="#">全站搜索</a></div>
<div align="center" id="underFont02">Copyright (c) 2008-2018 中国搜商网
All Rights Reserved 版权所有<br />
中华人民共和国信息产业部ICP备案：<a href="http://www.miibeian.gov.cn" target="_blank">湘ICP备案中</a></div>
</div>
</div>
</div>
</body>
</html>
